:root {
  /* Container Backgrounds */
  --main-bg: #222;
  --main-bg--lighter: #333;
  --text-color: #eee;

  --accent: #474747;
  --logo_fill: #eee;
  --link: #83c9f7;
}

:root.light-theme {
  /* Container Backgrounds */
  --main-bg: #f7f7f7;
  --main-bg--lighter: #fcfcfc;

  --text-color: #000;

  --accent: #b6eb85;
  --logo_fill: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  position: relative;

  color: var(--text-color);
  background: var(--main-bg);

  font-family: "Inter", "Trebuchet MS", "Lucida Sans Unicode", Arial;
  font-weight: 300;
  letter-spacing: 0.04rem;

  min-height: 100vh;
  width: 100vw;
  max-width: 1024px;

  padding: 0 1.5rem;
  margin: 0 auto;

  /* user-select: none; */
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 400;
}
a.iconed-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.hidden {
  display: none;
}
.main {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-height: 100vh;
  padding-top: 4rem;
  /* margin-bottom: 5rem; */
}

/* Logo */
.hero__logo {
  display: flex;
  justify-content: center;
  padding: 0rem 0 3rem 1rem;
}

.hero__logo svg {
  height: 2.5rem;
}

.svg-icon {
  fill: var(--logo_fill);
}

.svg-icon--linked {
  fill: var(--link);
}

/* Header */
.header__title {
  padding-bottom: 3rem;
}

.header__title h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 3rem;
  text-align: center;
}

.header__title h1:nth-child(1) {
  margin-bottom: -5px;
}

.header__title h1:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
}

/* Header Description */
.header__slogan {
  margin-bottom: 3rem;
  /*To Stop text and svg conflict on very small phones*/
}

.header__slogan h2 {
  font-size: 1.8rem;
  text-align: center;
}

.header__slogan h2:nth-child(2) {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

/* Header Buttons */
.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__buttons button {
  color: var(--main-bg);
  background-color: var(--text-color);

  border-radius: 5px;
  width: 8.5rem;
  height: 2rem;

  font-family: monospace;
  cursor: pointer;

  font-size: 1rem;
  word-spacing: -7px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__buttons button div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__buttons button p {
  line-height: 16px;
  border-right: 1px solid var(--main-bg);

  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.hero__buttons button.hero-link {
  background: transparent;
  color: var(--text-color);
  text-shadow: var(--main-bg) 2px 2px 1px;
}

.hero__buttons button .svg-icon:not(.last-svg) {
  fill: var(--main-bg);
}

/* Section */
.section {
  overflow: hidden;
}

.section:not(.section--last) {
  margin-bottom: 5rem;
}

.heading {
  cursor: pointer;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 0.5rem;
}

.heading h3 {
  color: var(--text-color);

  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  padding-bottom: 0.2rem;

  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-style: underline;
  text-decoration-skip-ink: none;

  text-decoration-thickness: 0.8rem;
  text-underline-offset: -60%;
}

.heading--quotes {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 5rem;
}

.heading--quotes h3:last-child {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.heading--quotes h3 {
  letter-spacing: 0px;
  font-weight: 700;
  text-decoration-thickness: 1.5rem;
  text-underline-offset: -135%;
}

.sub-heading h4 {
  font-style: italic;
  display: inline-block;
  margin-left: 0.3rem;
}

.sub-heading {
  display: flex;
  align-items: center;
  margin: 0.8rem 0 0 0;
}

.svg-wrap {
  display: flex;
  align-items: center;
}

.paragraph:not(.paragraph--last) {
  padding-bottom: 1rem;
}

.image__caption {
  padding: 0.3rem 0;
  text-align: center;
}

table {
  border-spacing: 0;
}

td {
  padding: 0 1.5rem 1rem 0;
}

td:nth-child(2) {
  padding-right: 0;
}

/* Album  */
.section__content--slideable {
  display: flex;
  overflow: scroll;
}

.album {
  min-width: 100%;
  height: 7rem;
  padding: 0.7rem 0.7rem;
  margin: 0.2rem 1rem 0 0;
  border-radius: 0.5rem;

  background: var(--main-bg--lighter);
  display: flex;
  position: relative;
}

.album__img {
  height: 100%;
}

.album__img img {
  height: 100%;
  border-radius: 0.5rem;
}

.album__details {
  margin-left: 1rem;
  width: 100%;
  font-style: italic;
}

.album__details h5 {
  font-weight: 300;
  font-style: normal;
}

.album__details__list li {
  font-size: 0.9rem;
}

.album__details__list li a {
  font-weight: 300;
  font-family: inherit;

  color: var(--text-color);
  text-decoration: none;
}

.album__details__list li:last-child {
  margin-top: 0.7rem;
  width: fit-content;
  padding: 0.4rem 0rem;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--text-color);
}

.album__details__list li:last-child a {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
}

/* Singles */
.single {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  margin: 0.2rem 1rem 0 0;
}

.single__image {
  width: 100%;
}

.single__image img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.link--normal {
  color: var(--text-color);
  font-family: inherit;
}

.link--normal p {
  font-size: 0.8rem;
  font-weight: 300;
}

.link--normal h5 {
  font-weight: 400;
}

/*Footer*/
.footer {
  margin: 1rem 0;
  text-align: center;
}

/* Background SVG */
.hero-svg-wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.blob {
  position: absolute;
  height: 200vh;
  bottom: -10rem;
  right: 10rem;
  /* transform: rotate(0deg); */
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 24px;
  }

  .hero-svg-wrap {
    display: none;
  }

  .single {
    min-width: 8rem;
  }

  .album {
    min-width: 50%;
  }
}
